<style>
  p{
      color: slategrey;
  }
</style>

<h1> <%= @trill.sample %> </h1>
<img src="http://img1.bonnesimages.com/bi/swag/swag_006.gif" alt="Mountain View" style="width:304px;height:228px">


<p> <%= @all_words.join(" ") %> </p>

<b> "<%=@all_words[0][0].join(",") %>" </b>







